# 2024 - 12 - 19

### 파이썬 기본 문법

In [1]:
print('Hello Python')

Hello Python

In [4]:
print(1)
print(2)
print(3)

1
2
3

In [5]:
print('1')
print('2')
print('3')

1
2
3

In [7]:
print(1+2)
print(2+3)
print(3+4)

3
5
7

In [9]:
1+2
2+3
3+4

7

In [18]:
# print문 연습중입니다
print("Hello")
print('Python')
print('홍길동 나이 = %d 세'% 20)
print('홍길동', '나이 = ', 20 ,'세')

Hello
Python
홍길동 나이 = 20 세
홍길동 나이 =  20 세

In [19]:
print('Hello '); print('Python')

print('Nice \
      to meet you')

Hello
Python
Nice       to meet you

In [24]:
print('Hi', 'Python', sep='')

HiPython

In [25]:
print('Hi', end='')
print('Python')

HiPython

### 변수

In [26]:
name = '홍길동'
age = 25
print(name,'나이 = ',age,'세')

홍길동 나이 =  25 세

In [27]:
import keyword as k
k.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [29]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [37]:
x = 'True'
print(type(x))
print(bool(x))
print(type(x))

<class 'str'>
True
<class 'str'>

In [49]:
##미션
a = 3
b = 4
# ToDo = 합, 차, 곱, 나눗셈, 몫, 나머지를 출력
print('%d + %d = %d'%(a,b,a+b))
print('%d - %d = %d'%(a,b,a-b))
print('%d * %d = %d'%(a,b,a*b))
print('%d / %d = %f'%(a,b,a/b))
print('%d // %d = %d'%(a,b,a//b))
print('%d %% %d = %d'%(a,b,a%b))

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.750000
3 // 4 = 0
3 % 4 = 3

In [96]:
n = 1234

#ToDo
d1 = n // 1000
print(d1)
d2 = n // 100 % 10
print(d2)
d3 = n // 10 % 100 % 10
print(d3)
d4 = n % 1000 % 100 % 10
print(d4)

1
2
3
4

In [100]:
#업그레이드미션 1
pay = 12345678
#100 미만 절사 처리
pay1 = pay % 100
print(pay1)
pay = pay - pay1
print(pay)

78
12345600

In [104]:
#변수 a에 저장된 값의 b자리 값을 계산하여 변수 c에 저장하는 코드
#예를 들어 a에 1234가 저장되어있고 b가 1인 경우 첫번째 자리값인 4가 c에 저장
a = 1234
b = 2
b1 = a // (10**(b-1))
print(b1)
c = a - b1*10
print(c)

123
4

In [106]:
print((3 < 5) and (3 > 0))
print((4 < 7) or (5 > 8))
print(not(5 < 9))

True
True
False

In [111]:
head = 'python'
tail = 'hello'
print(head + tail)
print(head*3)
print(len(head))

pythonhello
pythonpythonpython
6

In [112]:
samplestring = 'Life is too short'
print(len(samplestring))

17

In [114]:
print('\'낮말\'은 새가 듣고 \'밥말\'은 라면 먹고싶다 ')

'낮말'은 새가 듣고 '밥말'은 라면 먹고싶다

In [116]:
print(samplestring[8])

Life is too short

In [122]:
samplestring.find('h')
print(samplestring[13])

h

In [123]:
print(samplestring[8:11])

too

In [127]:
print(samplestring[8],samplestring[9],samplestring[10])

t o o

In [130]:
print(samplestring[5:])
print(samplestring[0::2])
print(samplestring[-1:0:-1])

is too short
Lf stosot
trohs oot si efi

In [146]:
samplestring = 'Life is too short, You need Python'
print(samplestring[12:14],samplestring[24],sep='',end=' ')
print(samplestring[5:7],end=' ')
print(samplestring[8:11],end=' ')
print(samplestring[12:14],samplestring[29],sep='',end=' ')

she is too shy

In [147]:
name = input('이름 입력해')
print('당신의 이름은 %s 입니다'%name)

당신의 이름은 윤홍원 입니다

In [159]:
#사용자로부터 두개의 정수를 입력받아서 덧셈을 출력하는 프로그램 만들기
a = int(input('첫번째 정수를 입력'))
b = int(input('두번째 정수를 입력'))
print(a)
print(b)
print(a+b)

1
23
24

In [160]:
h = int(input('삼각형의 높이 입력'))
w = int(input('삼각형의 밑변 입력'))
print(h)
print(w)
print('삼각형의 넓이는 %f 이다' %(h*w/2))

2
10
삼각형의 넓이는 10.000000 이다

In [163]:
gimbap = int(input('김밥 : '))
print('김밥 : ',gimbap,'개')
tte = int(input('떡볶이 : '))
print('떡볶이 : ',tte,'개')
ram = int(input('라면 : '))
print('라면 : ',ram,'개')
gim_price = 3000*gimbap
tte_price = 3500*tte
ram_price = 2500*ram

print('지불하실 금액은',(gim_price + tte_price + ram_price),'입니다')

김밥 :  2 개
떡볶이 :  1 개
라면 :  2 개
지불하실 금액은 14500 입니다

In [167]:
a,b = map(int,input('두개 숫자 입력').split(','))
print(a,b)

1 6

In [171]:
a = float(input('첫 번째 값 입력'))
b = float(input('두 번째 값 입력'))
print(f'{a:.2f} * {b:.2f} = {a*b:,.2f}')

100.00 * 1000.00 = 100,000.00

In [172]:
a = float(input('첫 번째 값 입력'))
b = float(input('두 번째 값 입력'))
print(f'{a:.2f} * {b:.2f} = {a*b:.2f}')

100.00 * 1000.00 = 100000.00

In [181]:
#원의 둘레와 넓기 계싼
#반지름 실수값 입력받기
#소숫점 이하 1자리로 표시, 원의 넓이는 천단위 쉼표
r = float(input('반지름 입력(cm) : '))
print(f'반지름 길이 : {r:,.1f}')
print(f'원의 넓이 : {2*3.14*r:,.1f} ㎠')
print(f'원의 둘레 : {((r**2)*3.14):,.1f}㎠')

반지름 길이 : 261.3
원의 넓이 : 1,640.7 ㎠
원의 둘레 : 214,326.3㎠

In [182]:
a = float(1000.1234)
b = float(2000.456789)
print(f'{a} * {b} {a*b}')

1000.1234 * 2000.456789 2000703.6453677625

In [183]:
a = 'True'
b = 'False'
print(type(a))
print(a == True)

<class 'str'>
False

In [186]:
money = 10 - 6
if money:
    print('맛있는거 먹기')
else:
    print('친구한테 얻어먹기')
print('냠냠 맛있다')

맛있는거 먹기
냠냠맛있다

In [7]:
num = int(input('숫자를 입력하세요: '))
print(num)
if num % 2 != 0:
    print('홀수입니다')
else:
    print('짝수입니다')

3
홀수입니다

In [8]:
num = int(input('점수를 입력하세요: '))
if num >= 90:
    print('A')
elif num >= 80:
    print('B')
elif num >= 70:
    print('C')
elif num >= 60:
    print('D')
else:
    print('F')

B

In [9]:
year = int(input('출생 연도 끝자리 입력'))
age = int(input('나이 입력:'))
print('출생연도는 %d, 나이는 %d 살 입니다'%(year,age))
if age >= 65:
    print('언제든 구매 가능!')
else:
    if year == 1 or 6:
        print('월요일')
    elif year == 2 or 7:
        print('화요일')
    elif year == 3 or 8:
        print('수요일')
    elif year == 4 or 9:
        print('목요일')
    else:
        print('금요일')

출생연도는 2000, 나이는 25 살 입니다
월요일

In [17]:
day = int(input('오늘은 몇 일?(입력 : 1 ~ 31) : '))
num = input('차량번호 4자리 입력?(예 : 1234) : ')
if day >= 32:
    print('일(day) 입력 오류입니다.')
else:
    if len(num) != 4:
        print('차량번호 입력 오류입니다')
    else:
        num = int(num)
        print(day)
        print(num)
        if day % 2 == 1:
            print('홀수 차량 운행일입니다')
            if num % 2 == 1:
                print('운행 가능합니다')
            else:
                print('운행 불가능합니다')
        else:
            print('짝수 차량 운행일입니다')
            if num % 2 == 1:
                print('운행 불가능합니다')
            else:
                print('운행 가능합니다')

19
2020
홀수 차량 운행일입니다
운행 불가능합니다

In [18]:
#키와몸무게 입력, bmi 지수 계싼, 비만유무 출력
#몸무게 / 신장 * 신장
h = float(input('키 입력'))
h *= 0.01
print(h,'m',sep='')
w = int(input('몸무게 입력'))
print(w,'cm',sep='')

bmi = w / h**2 

print(bmi)
if bmi < 18.5:
    print('BMI 지수는 %.2f로 저체중 입니다'% bmi)
elif 22.9 >= bmi >= 18.5: 
    print('BMI 지수는 %.2f로 정상체중 입니다'% bmi)
elif 25 >= bmi >= 23: 
    print('BMI 지수는 %.2f로 과체중 입니다'% bmi) 
else:
    print('BMI 지수는 %.2f로 비만만 입니다'% bmi)

1.85m
75cm
21.913805697589478
BMI 지수는 21.91로 정상체중 입니다

gofl 님 안녕하세요?
오늘로 11회 방문하셨어요